<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja-jp">
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
<meta http-equiv="Content-Type" content="text/html  ">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="copyright" content="&copy; niwango, inc.">
<meta name="msapplication-task" content="name=$B%K%3%K%3F02h(B ; action-uri=http://www.nicovideo.jp/; icon-uri=http://uni.res.nimg.jp/img/favicon.ico">
<meta property="fb:app_id" content="378853695459932">
<title>snoozer05$B$5$s$N%f!<%6!<%Z!<%8(B - niconico</title><base href="http://www.nicovideo.jp/">
<link rel="alternate" media="handheld" href="http://nicomoba.jp/user/1862988/mylist" />
<link rel="alternate" media="only screen and (max-width: 640px)" href="http://sp.nicovideo.jp/" />
<link rel="shortcut icon" href="http://uni.res.nimg.jp/img/favicon.ico">

<!-- 
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://uni.res.nimg.jp/css/ini.css?121017">
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://uni.res.nimg.jp/css/zero_common.css?141222">
 -->
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://uni.res.nimg.jp/css/ini.css?121017">
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://uni.res.nimg.jp/css/zero_common.css?141222">












<!-- 
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://uni.res.nimg.jp/css/zero_my/my.css?140908">
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://uni.res.nimg.jp/css/zero_my/search.css?120509">
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://uni.res.nimg.jp/css/multilanguage.css?121017">
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://uni.res.nimg.jp/js/nicolib/SuggestSearch/nicolib-SuggestSearch.css?131204">
 -->
<link rel="stylesheet" type="text/css"  media="all" href="http://uni.res.nimg.jp/css/zero_my/my.css?140908">
<link rel="stylesheet" type="text/css"  media="all" href="http://uni.res.nimg.jp/css/zero_my/search.css?120509">
<link rel="stylesheet" type="text/css"  media="all" href="http://uni.res.nimg.jp/css/multilanguage.css?121017">
<link rel="stylesheet" type="text/css"  media="all" href="http://uni.res.nimg.jp/js/nicolib/SuggestSearch/nicolib-SuggestSearch.css?131204">
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" media="all" href="http://uni.res.nimg.jp/css/zero_my/my_ie.css?120530">
<![endif]-->
<!-- 
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://uni.res.nimg.jp/js/lib/introjs/introjs.css">
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://uni.res.nimg.jp/css/zero_my/introjs_mypage.css">
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://uni.res.nimg.jp/css/zero_my/user.css?140114">
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://uni.res.nimg.jp/css/multilanguage.css?121017">
 -->
<link rel="stylesheet" type="text/css"  media="all" href="http://uni.res.nimg.jp/js/lib/introjs/introjs.css">
<link rel="stylesheet" type="text/css"  media="all" href="http://uni.res.nimg.jp/css/zero_my/introjs_mypage.css">
<link rel="stylesheet" type="text/css"  media="all" href="http://uni.res.nimg.jp/css/zero_my/user.css?140114">
<link rel="stylesheet" type="text/css"  media="all" href="http://uni.res.nimg.jp/css/multilanguage.css?121017">






<script type="text/javascript">

if (typeof Nico === 'undefined') Nico = {};
if (typeof Nico.messages === 'undefined') Nico.messages = {};

<!-- 
</script><script type="text/javascript" charset="utf-8" src="http://uni.res.nimg.jp/js/lib/prototype.js?1.5.1.1_2"></script>
<script type="text/javascript" charset="utf-8" src="http://uni.res.nimg.jp/js/common.js?110215"></script>
<script type="text/javascript" charset="utf-8" src="http://uni.res.nimg.jp/js/swfobject.js?5"></script>
<script type="text/javascript" charset="utf-8" src="http://uni.res.nimg.jp/js/nicolib.js?110215"></script>
<script type="text/javascript" charset="utf-8" src="http://uni.res.nimg.jp/js/ads.js?110531"></script>
<script type="text/javascript" charset="utf-8" src="http://ads.nicovideo.jp/assets/js/ads-2.11.0.min.js?141207"></script>


<script type="text/javascript" src="http://uni.res.nimg.jp/js/__utm.js?110928"></script><script type="text/javascript" charset="utf-8" src="http://uni.res.nimg.jp/js/base.js?120501"></script>


<script type="text/javascript" charset="utf-8" src="http://uni.res.nimg.jp/js/nicolib/SuggestSearch/nicolib-SuggestSearch.js?141220"></script>
 -->
</script><script type="text/javascript"  src="http://uni.res.nimg.jp/js/lib/prototype.js?1.5.1.1_2"></script>
<script type="text/javascript"  src="http://uni.res.nimg.jp/js/common.js?110215"></script>
<script type="text/javascript"  src="http://uni.res.nimg.jp/js/swfobject.js?5"></script>
<script type="text/javascript"  src="http://uni.res.nimg.jp/js/nicolib.js?110215"></script>
<script type="text/javascript"  src="http://uni.res.nimg.jp/js/ads.js?110531"></script>
<script type="text/javascript"  src="http://ads.nicovideo.jp/assets/js/ads-2.11.0.min.js?141207"></script>


<script type="text/javascript" src="http://uni.res.nimg.jp/js/__utm.js?110928"></script><script type="text/javascript"  src="http://uni.res.nimg.jp/js/base.js?120501"></script>


<script type="text/javascript"  src="http://uni.res.nimg.jp/js/nicolib/SuggestSearch/nicolib-SuggestSearch.js?141220"></script>

<script type="text/javascript"><!--

var User = { id: 33567773, age: 43, isPremium: false, isOver18: true, isMan: true };
var q = "";
var country = "";


Nico.SuggestSearch.IS_ENABLED = true;

--></script>

<script type="text/javascript">
(function(we, ico) {
	try {
		we.msSiteModeCreateJumplist('niconico(Q)');
		we.msSiteModeAddJumpListItem('$B%X%k%W(B',         'http://faq.nicovideo.jp/',              ico);
		we.msSiteModeAddJumpListItem('$B%"%+%&%s%H@_Dj(B', 'https://account.nicovideo.jp/my/account', ico);
		we.msSiteModeAddJumpListItem('$B;kD0MzNr(B',       'http://www.nicovideo.jp/my/history',                 ico);
		we.msSiteModeAddJumpListItem('$BEj9FF02h(B',       'http://www.nicovideo.jp/my/video',                   ico);
		we.msSiteModeAddJumpListItem('$B$*5$$KF~$j(B',     'http://www.nicovideo.jp/my/watchlist',               ico);
		we.msSiteModeAddJumpListItem('$B%^%$%j%9%H(B',     'http://www.nicovideo.jp/my/mylist',                  ico);
		we.msSiteModeAddJumpListItem('$BAm9g%i%s%-%s%0(B', 'http://www.nicovideo.jp/uni_ranking',                ico);
		we.msSiteModeAddJumpListItem('$BF02h$rEj9F(B',     'http://www.upload.nicovideo.jp/upload',        ico);
		we.msSiteModeAddJumpListItem('$B%^%$%Z!<%8(B',     'http://www.nicovideo.jp/my/top',                     ico);
		we.msSiteModeAddJumpListItem('$B%m%0%$%s(B',       'https://account.nicovideo.jp/login',      ico);
	} catch(e) {}
})(window.external, 'http://uni.res.nimg.jp/img/favicon.ico');
</script>

<script type="text/javascript"  >
<!-- <script type="text/javascript" charset="utf-8"> --><!--

Ads.get_segment_object = function(){
	var segment = {};

	segment.age = '43';
	segment.gender = '0';
	return segment;

};

// -->
</script>
</head>

<body class="ja-jp">


<!-- 
<link rel="stylesheet" type="text/css" charset="utf-8" href="http://uni.res.nimg.jp/js/nicoheader/resources/siteHeader.css?131031">
<link rel="stylesheet" type="text/css" charset="utf-8" href="http://uni.res.nimg.jp/js/nicoheader/resources/nicolib-CommonNotificationHeader.css?141023">
<script type="text/javascript" charset="utf-8" src="http://uni.res.nimg.jp/js/nicoheader/siteHeader.js?131031"></script>
<script type="text/javascript" charset="utf-8" src="http://uni.res.nimg.jp/js/nicoheader/nicolib-CommonNotificationHeader.js?131031"></script>
 -->
<link rel="stylesheet" type="text/css"  href="http://uni.res.nimg.jp/js/nicoheader/resources/siteHeader.css?131031">
<link rel="stylesheet" type="text/css"  href="http://uni.res.nimg.jp/js/nicoheader/resources/nicolib-CommonNotificationHeader.css?141023">
<script type="text/javascript"  src="http://uni.res.nimg.jp/js/nicoheader/siteHeader.js?131031"></script>
<script type="text/javascript"  src="http://uni.res.nimg.jp/js/nicoheader/nicolib-CommonNotificationHeader.js?131031"></script>
<div id="siteHeader">
	<div id="siteHeaderInner">
		<ul class="siteHeaderGlovalNavigation">
			<li><a href="http://www.nicovideo.jp/?header"><span>niconico</span></a></li>
			<li><a href="http://www.nicovideo.jp/video_top?header"><span>$BF02h(B</span></a></li>
			<li><a href="http://seiga.nicovideo.jp/?header"><span>$B@E2h(B</span></a></li>
			<li><a href="http://live.nicovideo.jp/?header"><span>$B@8J|Aw(B</span></a></li>
			<li><a href="http://ch.nicovideo.jp/?header"><span>$B%A%c%s%M%k(B</span></a></li>
			<li><a href="http://ch.nicovideo.jp/portal/blomaga?header"><span>$B%V%m%^%,(B</span></a></li>
			<li class="siteHeaderOther" id="siteHeaderLeftMenu">
				<a href="javascript:void(0);"><span>$B$=$NB>"'(B</span></a>
				<ul id="siteHeaderLeftMenuContainer" style="display: none;">
					<li><a href="http://app.nicovideo.jp/?header">$B%"%W%j(B</a></li>
					<li><a href="http://dic.nicovideo.jp/?header">$BBgI42J(B</a></li>
					<li><a href="http://ichiba.nicovideo.jp/?header">$B;T>l(B</a></li>
					<li><a href="http://uad.nicovideo.jp/?header">$B%K%3%K9-9p(B</a></li>
					<li><a href="http://3d.nicovideo.jp/?header">$B%K%3%KN)BN(B</a></li>
					<li><a href="http://commons.nicovideo.jp/?header">$B%3%b%s%:(B</a></li>
					<li><a href="http://jk.nicovideo.jp/?header">$B<B67(B</a></li>
					<li><a href="http://com.nicovideo.jp/?header">$B%3%_%e%K%F%#(B</a></li>
					<li><a href="http://nicoseiga.charagoods.jp/?header">$B@E2h$N0u:~9)K<(B</a></li>
					<li><a href="http://info.nicovideo.jp/pr_nicom/iphone.html?header">$B%9%^!<%H%U%)%s(B</a></li>
					<li><a href="http://news.nicovideo.jp/?header">$B%K%e!<%9(B</a></li>
					<li class="menuServiceList"><a href="http://www.nicovideo.jp/top_service?header">$B%5!<%S%90lMw(B</a></li>
				</ul>
			</li>
		</ul>

		<ul class="siteHeaderMenuList">
<!-- start notification header -->
			<li id="siteHeaderNotification" data-nico-userId="33567773" data-nico-siteId="nicovideo"
			  data-nico-API-Date="1421082943" data-nico-API-Version="2" data-nico-locale="ja_JP"
			  data-nico-API-Key="de5198fca1c8813e29d7e19b748dd4cc77ddc144"
			  data-nico-JSONP-URL="http://notify.nicovideo.jp/api/notify"
			  data-nico-count="0" data-nico-userIconUrl="http://res.nimg.jp/img/user/thumb/blank_s.jpg"
			  data-nico-config-nicorepores="1" data-nico-config-nicoru="1"
			  data-nico-config-stampget="1" data-nico-config-blomagacomment="1"
			  data-nico-isError="false" data-nico-isMaintenance="false"
			  			>

																														<a href="/my/top" id="siteHeaderUserContainer">
					<span class="siteHeaderAva" id="siteHeaderUserIconContainer"></span>
										<span id="siteHeaderUserNickNameContainer">yseisei $B$5$s(B</span>
				</a>
				<div class="siteHeaderNotificationContainer" id="siteHeaderNotificationContainer">
					<dl id="siteHeaderNotificationWithNotification" style="display: none;">
					</dl>
					<div id="siteHeaderNotificationWithoutNotification" style="display: none;">
						<span></span>
						<p>$B$"$J$?08$N$*CN$i$;$,FO$/$H$3$3$KI=<($5$l$^$9!#(B</p>
						<p id="siteHeaderShowConfigButton" class="siteHeaderInformationOption">$B@_DjJQ99(B</p>
					</div>
					<dl id="siteHeaderNotificationLoading" style="display: none;">
						<dt>$B$*CN$i$;(B<span></span></dt>
						<dd><span><img src="http://res.nimg.jp/img/loading.gif" /></span>$B$*CN$i$;$rFI$_9~$s$G$$$^$9!D(B</dd>
					</dl>
					<dl id="siteHeaderNotificationError" style="display: none;">
						<dt>$B$*CN$i$;(B<span></span></dt>
						<dd id="siteHeaderNotificationError503Detail">$B$*CN$i$;$,<hF@$G$-$^$;$s$G$7$?!#$7$P$i$/BT$C$F:FEY$*;n$7$/$@$5$$!#(B</dd>
						<dd id="siteHeaderNotificationError503Config" style="display: none;">$B@_Dj$,H?1G$G$-$^$;$s$G$7$?!#$7$P$i$/BT$C$F:FEY$*;n$7$/$@$5$$!#(B</dd>
						<dd id="siteHeaderNotificationError401" style="display: none;">$B%m%0%$%s$5$l$F$*$j$^$;$s!#:FEY%m%0%$%s$7$J$*$7$F$/$@$5$$!#(B</dd>
					</dl>
					<dl id="siteHeaderNotificationMaintenance" style="display: none;">
						<dt>$B$*CN$i$;(B<span></span></dt>
						<dd>$BB~:#%a%s%F%J%s%9Cf$G$9!#(B</dd>
					</dl>
					<dl id="siteHeaderNotificationOption" style="display: none;">
						<dt>$B@_Dj(B<span></span></dt>
						<dd>
							<p class="siteHeaderSwitch siteHeaderFirstChild">$B%K%3%l%]%3%a%s%H$N$*CN$i$;(B
								<span id="siteHeaderConfigNicoreporesButton" class="siteHeaderEnable"></span>
							</p>

							<p class="siteHeaderSwitch">$B%9%?%s%W<hF@$N$*CN$i$;(B
								<span id="siteHeaderConfigStampgetButton" class="siteHeaderEnable"></span>
							</p>

							<p class="siteHeaderSwitch">$B%K%3$i$l$??t$NDLCN(B
								<span id="siteHeaderConfigNicoruButton" class="siteHeaderEnable"></span>
							</p>

							<p class="siteHeaderSwitch lastChild">$B%V%m%^%,%3%a%s%H$N$*CN$i$;(B
								<span id="siteHeaderConfigBlomagacommentButton" class="siteHeaderEnable"></span>
							</p>
							<a href="javascript:void(0);" id="siteHeaderApplyConfigButton" class="siteHeaderSubmitButtonDisable">$BJQ99$rE,MQ$9$k(B</a>
						</dd>
						<dd class="siteHeaderInformationOption">
							<a href="javascript:void(0);" id="siteHeaderBackDetail">$B0lMw$KLa$k(B</a>
							<a href="javascript:void(0);" id="siteHeaderBackDetailChanged" style="display: none;">$BJD$8$k(B</a>
						</dd>
					</dl>
				</div>
				<a href="https://account.nicovideo.jp/premium/register?sec=bar" class="siteHeaderUpgrade" id="siteHeaderNotificationPremium">
					<small>$B!](B</small>
					<span>$B%W%l%_%"%`EPO?(B</span>
				</a>
							</li>
<!-- end notification header -->
			<li class="siteHeaderHorizon"><a href="http://www.upload.nicovideo.jp/upload"><span>$BF02h$rEj9F(B</span></a></li>
			<li><a href="uni_ranking"><span>$BAm9g%i%s%-%s%0(B</span></a></li>
			<li class="siteHeaderOther" id="siteHeaderRightMenu">
				<a href="javascript:void(0);"><span>$B%a%K%e!<"'(B</span></a>
				<ul style="display: none;" id="siteHeaderRightMenuContainer">
					<li><a href="/my/mylist">$B%^%$%j%9%H(B</a></li>
					<li><a href="/my/watchlist">$B$*5$$KF~$j(B</a></li>
					<li><a href="/my/video">$BEj9FF02h(B</a></li>
					<li><a href="/my/history">$B;kD0MzNr(B</a></li>
					<li><a href="https://account.nicovideo.jp/my/account">$B%"%+%&%s%H@_Dj(B</a></li>
					<li><a href="http://point.nicovideo.jp/index/bank/?from_notification=2">$B%]%$%s%H9XF~(B</a></li>					<li id="siteHeaderRightMenuUnfix"><a href="javascript:void(0);">$B%X%C%@!<(B:<span class="siteHeaderScroll">$BDI=>(B</span></a></li>
					<li id="siteHeaderRightMenuFix"><a href="javascript:void(0);">$B%X%C%@!<(B:<span class="siteHeaderFix">$B8GDj(B</span></a></li>
					<li><a href="http://faq.nicovideo.jp/">$B%X%k%W(B</a></li>
					<li><a href="https://secure.nicovideo.jp/secure/logout">$B%m%0%"%&%H(B</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>





<div id="header" class="clearfix">

  <h1 id="logo_zero"><a href="http://www.nicovideo.jp/">niconico</a></h1> 

  
            <div id="pc_uni_top_468x60_north" class="headerBanner"></div>
          <script type="text/javascript">
      
      (function () {
        var segment = Ads.get_segment_object();
        new Ads.Advertisement({zone: 680, segments: segment, impression: 2}).set('pc_uni_top_468x60_north');
      })();
      
    </script>
    </div>
<!-- /#header --><script type="text/javascript" src="http://uni.res.nimg.jp/js/lib/jquery/jquery-1.7.min.js"></script>
<script type="text/javascript"><!--
jQuery.noConflict();
var nickname = "yseisei";
--></script>
<script type="text/javascript" src="http://uni.res.nimg.jp/js/my4.js?140903"></script>
<script type="text/javascript"><!--

User_profile_description.cover_up = '$B"%1#$9(B';
User_profile_description.cover_down = '$B"'$b$C$H8+$k(B';

Mypage_globals.error_message = {
'hash error' : '$BA`:n$r<u$1IU$1$k$N$OA02s%"%/%;%9$+$i(B30$BJ,0JFb$^$G$G$9!#(B\n$B62$lF~$j$^$9$,!"2hLL$r%j%m!<%I$7$F$+$i:FEYA`:n$r$7$F2<$5$k$h$&$*4j$$$$$?$7$^$9!#(B',
'busy' : '$BC;;~4V$G$NO"B3%"%/%;%9$O$41sN8$/$@$5$$!#(B\n$B:.;(4KOB$N$?$a!"$46(NO$r$*4j$$$$$?$7$7$^$9!#(B\n$B30It%D!<%k$J$I$r$*;H$$$N>l9g!"0U?^$7$J$$2a>j%"%/%;%9$,H/@8$7!"$3$N%a%C%;!<%8$,I=<($5$l$d$9$/$J$k$3$H$,$"$j$^$9!#(B',
'param error' : '$B%Q%i%a!<%?$,IT@5$G$9!#(B',
'comment error' : '$B%3%a%s%H$NEj9F$K<:GT$7$^$7$?!#(B\n$B%3%a%s%HJ8;z?t$O(B140$BJ8;z$^$GEj9F$G$-$^$9!#(B',
'reslimit error' : '$B$3$N%K%3%l%]$X%3%a%s%H$G$-$k>e8B?t$rD6$($^$7$?!#(B',
'user error' : '$B%"%/%;%98"8B$,$"$j$^$;$s!#(B',
'many res' : '$B%3%a%s%H$NEj9F$K$O@)8B$r@_$1$F$*$j$^$9!#$7$P$i$/;~4V$rCV$$$F$b$&0lEY$*;n$7$/$@$5$$(B',
'ng word' : '$BMxMQ$G$-$J$$C18l$,4^$^$l$F$*$j$^$9!#(B\n$B$3$N%K%3%l%]%3%a%s%H$OEj9F$G$-$^$;$s!#(B',
'maintenance' : '$B8=:_%a%s%F%J%s%9Cf$N$?$a!"%K%3%l%]%3%a%s%H$NEj9F:o=|$,$G$-$^$;$s!#(B\n$B%a%s%F%J%s%9=*N;$^$G$*BT$A$/$@$5$$!#(B',
'default_message' : '$BDL?.$K<:GT$7$^$7$?!#(B\n$B$7$P$i$/;~4V$rCV$$$F$b$&0lEY$*;n$7$/$@$5$$!#(B'
};

Favuser_confirm_message.register = '$B$3$N%f!<%6!<$r$*5$$KF~$j$KEPO?$7$F$h$m$7$$$G$9$+!)(B';
Favuser_confirm_message.unregister = '$B$3$N%f!<%6!<$r$*5$$KF~$j$+$i$O$:$7$F$h$m$7$$$G$9$+!)(B';

WatchBtn_status.watchLoadingMsg = '$BFI$_9~$_Cf$G$9(B...';
WatchBtn_status.watchRegisteredMsg = '$B$*5$$KF~$j$KEPO?$7$^$7$?(B';
WatchBtn_status.watchUnregisteredMsg = '$B$*5$$KF~$j$+$i$O$:$7$^$7$?(B';
WatchBtn_status.watchBlockingMsg = '$B%V%m%C%/$7$F$$$k$?$a!"EPO?$G$-$^$;$s$G$7$?(B';
WatchBtn_status.watchBlockedMsg = '$B%V%m%C%/$5$l$F$$$k$?$a!"EPO?$G$-$^$;$s$G$7$?(B';
WatchBtn_status.watchFailedMsg = '$BEPO?$K<:GT$7$^$7$?(B';

--></script>



<!--$B"-%3%s%F%s%D"-(B-->
<script type="text/javascript"><!--
Globals.hash = '33567773-1421086543-f6e003c524c0541268d2001906491d0a59ee24b1';

--></script>
<div class="userDetail">
	<div class="avatar">
		<img src="http://usericon.nimg.jp/usericon/186/1862988.jpg" alt="snoozer05" />
	</div>

	<div class="profile">
		<h2>snoozer05<small>$B$5$s(B</small></h2>

		<div id="watchBtns" class="noWatching">
					<a id="watchRegisterBtn" href="#" rel="register:1862988" style="display : none;"><span></span>$B$*5$$KF~$j$KEPO?(B</a>
			<a id="watchUnregisterBtn" href="#" rel="unregister:1862988" style="display : none;"><span></span>$B$*5$$KF~$j$+$i$O$:$9(B</a>
			<p id="loading_message" styel="display : none;"></p>
				</div><!-- /#watchBtns -->

		<div class="account">
			<p class="accountNumber">ID:<span>1862988(RC) $B%W%l%_%"%`2q0w(B</span></p>
			<p>$B@-JL(B:<span>$BCK@-(B</span></p>
			<p>$B@8G/7nF|(B:<span>$BHs8x3+(B</span></p>
			<p>$B$*=;$^$$$NCO0h(B:<span>$BKL3$F;(B</span></p>
		</div>
		<ul class="stats channel_open_mb8">
			<li class="fav" title="$B$*5$$KF~$jEPO?$5$l$??t(B"><span></span>14</li>
			<li class="exp" title="$B%9%?%s%W7P83CM(B"><a href="user/1862988/stamp"><span></span>51EXP</li>
			<li class="nicoru" title="$B%K%3$i$l$??t(B"><a href="user/1862988/nicoru/passive"><span></span>3</a></li>
		</ul>
													<ul class="userDetailComment channel_open_mt0">
			
											
			</li>
					</ul>
		
		<script type="text/javascript">
		(function($) {
			$('ul.userDetailComment li p').find('font[size]').each(function() {
				var el  = $(this),
					tmp = el.attr('size').split(''),
					op  = tmp.length > 1 ? tmp[0] : '',
					n   = (tmp.length > 1 ? tmp[1] : tmp[0]) - 0,
					def = 3,
					f   = op != '' && $.inArray(op, '+-'.split('')) < 0;

				if (isNaN(n) || f) return;

				var size =
					op == '+' ? def + (n < 1 ? 1 : n > 4 ? 4 : n) :
					op == '-' ? def - (n < 1 ? 1 : n > 2 ? 2 : n) :
					n < 1     ? 1 :
					n > 7     ? 7 :
					n;

				// size:px -> 1:8, 2:10, 3:12, 4:14, 5:16, 6:18, 7:20
				el.css('font-size', size * 2 + 6);
			});
		})(jQuery)
		</script>
		

	</div>

					<a href="/friendrequest/new?receiver_id=1862988" class="addBtn"><span></span>$B%U%l%s%I?=@A$9$k(B</a>
			</div>
<!-- wrapper -->
<div class="wrapper">
	<!-- content -->
	<div class="content" id="mylist">
		<h3>$B%^%$%j%9%H0lMw(B</h3>
		<div class="articleBody">
			<div class="pagerWrap">
						</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/16614060"><span class="folderIcon folder0"></span>$B;%KZ(BRuby$B2q5D(B02 (2009-12-05)</a>
					<span class="mylistNum">$B!D(B 25 $B7o(B</span>
				</h4>
								<p class="mylistDescription" data-nico-mylist-desc-full="true" style="display : none;">http://regional.rubykaigi.org/sapporo02</p>
												</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr3.smilevideo.jp/smile?i=9157974" alt="tDiary annual report 2009 - $B<FED(B $BGn;V(B">
					</li>
																				<li>
					<img src="http://tn-skr4.smilevideo.jp/smile?i=9158531" alt="$BCN$i$J$$$HB;$r$9$k(BSmalltalk - sumim">
					</li>
																				<li>
					<img src="http://tn-skr1.smilevideo.jp/smile?i=9160000" alt="Ruby$B$G(BPostgreSQL$B$H$*OC$9$kJ}K!(B - $B@PED(B $BO/M:(B">
					</li>
																									</ul>
				</div>
			</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/16489581"><span class="folderIcon folder0"></span>RejectKaigi 2009 Sessions$B!J(B2nd day$B!K(B</a>
					<span class="mylistNum">$B!D(B 22 $B7o(B</span>
				</h4>
								<p class="mylistDescription" data-nico-mylist-desc-full="true" style="display : none;">RejectKaigi2009 2nd day(7/19)</p>
												</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr2.smilevideo.jp/smile?i=9116449" alt="A RubyKaigi Hack: Wilson - Florian Gilcher">
					</li>
																				<li>
					<img src="http://tn-skr2.smilevideo.jp/smile?i=9116505" alt="require 'php' - $B@10l(B">
					</li>
																				<li>
					<img src="http://tn-skr2.smilevideo.jp/smile?i=9116525" alt="AlphaGripper - $B@V>>M44u(B(ukstudio)">
					</li>
																									</ul>
				</div>
			</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/16489092"><span class="folderIcon folder0"></span>RejectKaigi 2009 Sessions$B!J(B1st day$B!K(B</a>
					<span class="mylistNum">$B!D(B 7 $B7o(B</span>
				</h4>
								<p class="mylistDescription" data-nico-mylist-desc-full="true" style="display : none;">RejectKaigi2009 1st day(7/18)</p>
												</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr3.smilevideo.jp/smile?i=9106622" alt="JRuby$B$NFbB"$rF|$N8w$N2<$K;/$9;n$_(B - $B$3$7$P$H$7$"$-(B">
					</li>
																				<li>
					<img src="http://tn-skr1.smilevideo.jp/smile?i=9106648" alt="GPS $B!_(B Twitter4R$B$G$?$N$7$$0LCV>pJs%i%$%U(B - $B@n8M@5M5(B">
					</li>
																				<li>
					<img src="http://tn-skr3.smilevideo.jp/smile?i=9106690" alt="Happy Twitter Life with Termtter - jugyo">
					</li>
																									</ul>
				</div>
			</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/14960098"><span class="folderIcon folder0"></span>RubyKaigi 2009 Sessions$B!J(B3rd day$B!K(B</a>
					<span class="mylistNum">$B!D(B 61 $B7o(B</span>
				</h4>
								</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr4.smilevideo.jp/smile?i=8363083" alt="Edo Cabinet (1/2) - $B%a%H%m!<(B $B%8%g%s(B">
					</li>
																				<li>
					<img src="http://tn-skr2.smilevideo.jp/smile?i=8363149" alt="Edo Cabinet (2/2) - $B%a%H%m!<(B $B%8%g%s(B">
					</li>
																				<li>
					<img src="http://tn-skr4.smilevideo.jp/smile?i=8363199" alt="Checking Interactively-Developed Code (1/3) - Andriy Hnativ">
					</li>
																									</ul>
				</div>
			</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/14733712"><span class="folderIcon folder0"></span>RubyKaigi 2009 Sessions$B!J(B2nd day$B!K(B</a>
					<span class="mylistNum">$B!D(B 61 $B7o(B</span>
				</h4>
								</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr1.smilevideo.jp/smile?i=8244428" alt="Ruby 1.8 $B$N$f$/$((B - $BKNIt(B $B>;J?(B">
					</li>
																				<li>
					<img src="http://tn-skr2.smilevideo.jp/smile?i=8244509" alt="Ruby 1.9.2$B%m!<%I%^%C%W(B - Yugui">
					</li>
																				<li>
					<img src="http://tn-skr4.smilevideo.jp/smile?i=8245467" alt="Ruby $B%j%U%!%l%s%9%^%K%e%"%k:~?77W2h(B 2009 $B2F(B (1/2) - okkez">
					</li>
																									</ul>
				</div>
			</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/14722636"><span class="folderIcon folder0"></span>RubyKaigi 2009 Sessions$B!J(B1st day$B!K(B</a>
					<span class="mylistNum">$B!D(B 39 $B7o(B</span>
				</h4>
								</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr3.smilevideo.jp/smile?i=8236850" alt="RubyKaigi2009$B%*!<%W%K%s%0(B">
					</li>
																				<li>
					<img src="http://tn-skr1.smilevideo.jp/smile?i=8237368" alt="Using Git and GitHub to Develop One Million Times Faster (1/2) - Scott Chacon">
					</li>
																				<li>
					<img src="http://tn-skr3.smilevideo.jp/smile?i=8237722" alt="Using Git and GitHub to Develop One Million Times Faster (2/2) - Scott ChaconComments">
					</li>
																									</ul>
				</div>
			</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/6466445"><span class="folderIcon folder0"></span>DSL$B%R%C%A%O%$%/%,%$%I(B</a>
					<span class="mylistNum">$B!D(B 2 $B7o(B</span>
				</h4>
								</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr1.smilevideo.jp/smile?i=3155112" alt="DSL$B%R%C%A%O%$%/!&%,%$%I(B - $BEgED9@Fs(B (1/2)">
					</li>
																				<li>
					<img src="http://tn-skr4.smilevideo.jp/smile?i=3155159" alt="DSL$B%R%C%A%O%$%/!&%,%$%I(B - $BEgED9@Fs(B (2/2)">
					</li>
															</ul>
				</div>
			</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/7271830"><span class="folderIcon folder0"></span>RubyKaigi 2008 Main-Sessions$B!J(B1st day$B!K(B</a>
					<span class="mylistNum">$B!D(B 13 $B7o(B</span>
				</h4>
								</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr2.smilevideo.jp/smile?i=3759185" alt="RubyKaigi2008$B%*!<%W%K%s%0(B">
					</li>
																				<li>
					<img src="http://tn-skr4.smilevideo.jp/smile?i=3759447" alt="$B8=:_$N!"$=$7$F$3$l$+$i$N(BRubyVM$B3+H/(B - $B$5$5$@$3$&$$$A(B">
					</li>
																				<li>
					<img src="http://tn-skr2.smilevideo.jp/smile?i=3759729" alt="JRuby: Ready for Action - Charles Nutter">
					</li>
																									</ul>
				</div>
			</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/7358298"><span class="folderIcon folder0"></span>RubyKaigi 2008 Main-Sessions$B!J(B2nd day$B!K(B</a>
					<span class="mylistNum">$B!D(B 15 $B7o(B</span>
				</h4>
								</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr1.smilevideo.jp/smile?i=3823416" alt="RubyKaigi2008$B%/%m!<%8%s%0(B">
					</li>
																				<li>
					<img src="http://tn-skr4.smilevideo.jp/smile?i=3823431" alt="Rails$B>I8u72$N8&5f(B - $BA0ED=$8c(B">
					</li>
																				<li>
					<img src="http://tn-skr2.smilevideo.jp/smile?i=3823473" alt="Using Ruby to Build a Scalable Startup - Alex Kane">
					</li>
																									</ul>
				</div>
			</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/7354026"><span class="folderIcon folder0"></span>RubyKaigi 2008 LT</a>
					<span class="mylistNum">$B!D(B 11 $B7o(B</span>
				</h4>
								</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr4.smilevideo.jp/smile?i=3820151" alt="$B!V(BJava$B$+$i(BRuby$B$X!W$K$D$$$F!"$I$&$7$F$b8@$$$?$$$3$H$,$"$k(B - $B7,ED(B $B@?(B">
					</li>
																				<li>
					<img src="http://tn-skr1.smilevideo.jp/smile?i=3820340" alt="dRuby$B$H%;%-%e%j%F%#(B - $B@>;3OB9-(B">
					</li>
																				<li>
					<img src="http://tn-skr2.smilevideo.jp/smile?i=3820481" alt="$B=i5i<T$O(B Enumerator $B$NL4$r8+$k$+(B? - $B:#0f?-9-(B">
					</li>
																									</ul>
				</div>
			</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/7255178"><span class="folderIcon folder0"></span>RubyKaigi 2008 0th day</a>
					<span class="mylistNum">$B!D(B 13 $B7o(B</span>
				</h4>
								</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr3.smilevideo.jp/smile?i=3745498" alt="$B%*!<%W%K%s%0(B?$B!V(BRubyKaigi2008 Golf$B%3%s%Z!W%9%?!<%H(B">
					</li>
																				<li>
					<img src="http://tn-skr1.smilevideo.jp/smile?i=3746984" alt="$B$D$$$KEP>l!*(BRuby / Rails$B$NE}9g3+H/4D6-!V(B3rdRail$BF|K\8lHG!W$N$4>R2p(B">
					</li>
																				<li>
					<img src="http://tn-skr3.smilevideo.jp/smile?i=3747194" alt="Sun$B$G$O$8$a$k%(%s%?!<%W%i%$%:(BRuby$B$N@$3&(B">
					</li>
																									</ul>
				</div>
			</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/8348847"><span class="folderIcon folder0"></span>$B9b@l%+%s%U%!%l%s%9(B in $BKL3$F;(B(2008/9/13)</a>
					<span class="mylistNum">$B!D(B 9 $B7o(B</span>
				</h4>
								</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr3.smilevideo.jp/smile?i=4608390" alt="$B9b@l%+%s%U%!%l%s%9(Bin$BKL3$F;(B $B%*!<%W%K%s%0(B - mrkn">
					</li>
																				<li>
					<img src="http://tn-skr1.smilevideo.jp/smile?i=4608700" alt="$B;d$NJb$s$@9b@lF;(B NextRoad - yokoyama">
					</li>
																				<li>
					<img src="http://tn-skr3.smilevideo.jp/smile?i=4609390" alt="$B9b@lB48&;~Be$+$i8=:_$^$G(B - $B$3$P$d$7(B">
					</li>
																									</ul>
				</div>
			</div>
						<div class="outer">
				<div class="section full" data-nico-mylistdesc="true">
				<h4>
					<a href="mylist/9138553"><span class="folderIcon folder0"></span>$B;%KZ(BRuby$B2q5D(B01 (2008-10-25)</a>
					<span class="mylistNum">$B!D(B 18 $B7o(B</span>
				</h4>
								</div>
				<div class="thumbContainer">
					<ul>
															<li>
					<img src="http://tn-skr4.smilevideo.jp/smile?i=5069607" alt="$B;%KZ(BRuby$B2q5D(B01 $B%*!<%W%K%s%0(B - snoozer05">
					</li>
																				<li>
					<img src="http://tn-skr1.smilevideo.jp/smile?i=5069928" alt="Ruby on Windows$B!JA0JT!K(B - arton">
					</li>
																				<li>
					<img src="http://tn-skr2.smilevideo.jp/smile?i=5070341" alt="Ruby on Windows$B!J8eJT!K(B - arton">
					</li>
																									</ul>
				</div>
			</div>
						<div class="pagerWrap">
						</div>
		</div>
	</div>
	<!-- //.content -->
	
	<!-- sidebar -->
	<script type="text/javascript"><!--
Side_bar_message.tab_cover_up = '$B1#$9(B';
Side_bar_message.tab_cover_down = '$BI=<((B';
--></script>

<div class="sidebar">
	<ul>

		<li class="favTab">
			<a href="user/1862988/fav/user"><span></span>$B$*5$$KF~$j(B</a>
					</li>
		
		<li class="nicorepoTab ">
						<a href="user/1862988/top"><span></span>$B%K%3%l%](B</a>
					</li>
		<li class="mylistTab active">
						<a href="user/1862988/mylist"><span></span>$B%^%$%j%9%H(B</a>
					</li>
		<li class="videoTab ">
						<a href="user/1862988/video"><span></span>$BEj9F(B</a>
					</li>
		<li class="stampTab ">
			<a href="user/1862988/stamp"><span></span>$B%9%?%s%WD"(B</a>
		</li>
		<li class="nicoruTab">
			<a href="user/1862988/nicoru"><span></span>$B%K%3$k(B</a>
					</li>
		
	</ul>
	
</div>
	<!-- //sidebar -->
</div><!--$B",%3%s%F%s%D",(B-->

<div class="optionOuter">
<ul class="optionList">
	<li><a href="/userblock/confirm/1862988" class="arrow"><span></span>$B$3$N%f!<%6!<$r%V%m%C%/%j%9%H$KEPO?$9$k(B</a></li>
	<li><a href="https://secure.nicovideo.jp/secure/support_form?ct=nicocommu-report%28http%3A%2F%2Fwww.nicovideo.jp%2Fuser%2F1862988%29" class="arrow"><span></span>$B$3$N%f!<%6!<$N%W%m%U%#!<%k2hA|$rJs9p$9$k(B</a></li>
</ul>
</div>





</div>

<div class="toPageTopWrap">
	<div class="inner">
		<a href="#" class="toPageTopBtn"><span></span>$B%Z!<%8%H%C%W(B</a>
			</div>
</div><!-- /.toPageTop -->

<div id="footerWrap">

	<div id="footerNav">
		<div class="outer">

			<h3>niconico$B$K$D$$$F(B</h3>
			<ul class="footerNavList">
				<li><a href="http://www.nicovideo.jp/top_service/">$B%5!<%S%90lMw(B</a></li>
				<li><a href="http://www.nicovideo.jp/rss">RSS$B!J99?7>pJs!K0lMw(B</a></li>
				<li><a href="http://license-search.nicovideo.jp/">$BF02h!&@8J|Aw$K;HMQ$G$-$k2;8;$N8!:w(B</a></li>
				<li><a href="http://ex.nicovideo.jp/base/declaration">$B@k8@(B</a></li>
				<li><a href="http://info.nicovideo.jp/base/term.html">$B%5%$%H$4MxMQ$K$"$?$C$F(B</a></li>							</ul>
		</div>

		<div class="outer">
			<h3>$B$*CN$i$;(B</h3>
			<ul class="footerNavList">
				<li><a href="http://blog.nicovideo.jp/niconews/">$B%$%s%U%)%a!<%7%g%s(B</a></li>
				<li><a href="http://blog.nicovideo.jp/niconews/ge_function/">$B5!G=!&$*CN$i$;(B</a></li>								<li><a href="http://blog.nicovideo.jp/niconews/ge_maintenance/">$B%a%s%F%J%s%9!&>c32!&I|5l(B</a></li>				<li><a href="http://info.nicovideo.jp/base/phishing.html">$B%U%#%C%7%s%0:>5=$K$4Cm0U(B</a></li>			</ul>
		</div>
		<div class="outer">
			<h3>$B$*Ld$$9g$o$;(B</h3>
			<ul class="footerNavList">
				<li><a href="http://faq.nicovideo.jp/">$BAm9g%X%k%W(B</a></li>
				<li><a href="http://bbs.nicovideo.jp/request/">$BMWK>7G<(HD(B</a></li>
				<li><a href="http://rcp-smile.nicovideo.jp/static/rule/">$B8"Mx<TK!?M$N3'MM$X(B</a></li>
				<li><a href="https://secure.ch.nicovideo.jp/application/info/top">$BCDBN!&4k6H%Z!<%83+@_(B</a></li>
				<li><a href="http://sales.ads.nicovideo.jp/">$B9-9p=P9F(B</a></li>
				<li><a href="https://secure.nicovideo.jp/form/press">$B<h:`!&%W%l%9(B</a></li>
				<li><a href="http://info.dwango.co.jp/recruit/">$B:NMQ>pJs(B</a></li>
			</ul>
		</div>
	</div>

	<div id="copyright">
				<p class="figureWrap">
			<img src="http://uni.res.nimg.jp/img/base/foot/logo_jasrac.png" alt="Licensed by JASRAC" /><span>JASRAC$B5vBzHV9f!'(B9013388001Y45123<br>9013388004Y30005</span>
						<small>&copy;niwango,inc. All rights reserved.</small>
		</p>
	</div>
</div><!-- /#footerWrap -->
<!-- 
<script type="text/javascript" charset="utf-8" src="http://notification.nicovideo.jp/res/notify.js?140901" async defer></script>
<script type="text/javascript" charset="utf-8" src="http://enquete.nicovideo.jp/static/js/enquete.js?141028" async defer></script></body>
 -->
<script type="text/javascript"  src="http://notification.nicovideo.jp/res/notify.js?140901" async defer></script>
<script type="text/javascript"  src="http://enquete.nicovideo.jp/static/js/enquete.js?141028" async defer></script></body>
</html>